body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 60px;
}

section {
    text-align: center;

}

.banner {
    background-image: url(images/donation6.jpg);
    background-size: cover;
    width: 78%;
    height: 55vh;
    color: aliceblue;

    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(235, 76, 76);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 100px;



}

h2 {
    font-size: 40px;
}

.donate-today {
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 150px;
    padding-top: 150px;
}



span {
    color: gray;
}

.amount-money {
    display: flex;

    box-align: center;
}

.amount {

    padding: 20px;
    margin: 10px;
    background-color: rgb(241, 241, 241);
    font-size: 40px;
    color: gray;
    border-radius: 10px;
    padding-bottom: 60px;
}

#berable {
    border: rgb(235, 76, 76) 2px solid;
    color: rgb(235, 76, 76);
    background-color: rgb(248, 214, 208);
}

#extra {
    border-bottom: 1px rgb(209, 205, 205) solid;
    color: gray;
    padding-bottom: 20px;
    padding-top: 100px;
    margin-bottom: 60px;
}

.sector {
    display: flex;
}

.crisis {
    margin: 25px;
    border-radius: 5px;
    padding: 30px;
    text-align: justify;
}

.heading {
    font-size: x-large;

}

.about {
    color: gray;
}

#food {
    background-color: rgb(231, 247, 247);
}

#medicine {
    background-color: rgb(248, 229, 232);
}

#shelter {
    background-color: antiquewhite
}

#email {
    background-color: lightgrey;
    padding-left: 10px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#subscribe {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 76, 76);
    color: aliceblue;
}

#mail {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 70px 150px;
    background-color: blanchedalmond;
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-family: 'Lobster', cursive;
    padding-top: 25px;
    padding-bottom: 25px;
}

#humble {
    color: rgb(235, 76, 76);
}